@use '../../utils/sass/colors' as *;

.signInCard {
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 3rem;
    background-color: $white;

    &__icon {
        font-size: 5rem;
    }

    &__title {
        font-weight: bold;
        font-size: 1.5em;
        margin: 0.83em 0;
    }
}
