@use '../../utils/sass/colors' as *;

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;

    &__text {
        color: $color-primary;
    }
}
