@use './utils/sass/reset';

html {
    display: flex;
}

body {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
#root {
    padding-bottom: 76px;
    height: 100%;
}
